* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

.top-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px;
}

.weather-container,
.count {
  display: inline-block;
  border: 5px solid;
  border-radius: 25px;
  padding: 20px;
  transition: all 0.3s ease-out;
}

.weather-container:hover,
.count:hover {
  background-color: rgba(255, 166, 0, 0.854);
  border-color: black;
  color: black;
}

.main-content {
  text-align: center;
}

#login-form {
  margin: 10px 0px;
}

.welcome {
  font-size: 20px;
  margin: 10px;
}

.welcome,
.logOut {
  vertical-align: middle;
}

#clock {
  font-weight: bolder;
  font-size: 5em;
}

.typeName {
  margin: 10px;
  padding: 5px 3px 5px 8px;
  border-radius: 10px;
  border: 0;

  color: black;
}

form > button,
div > button {
  background-color: white;
  color: black;
  border-color: rgb(41, 118, 211);
  border-style: solid;
  border-width: 1px;
  padding: 5px 9px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.15s, color 0.15s;
}

form > button:hover,
div > button:hover {
  color: white;
  background-color: black;
}

.todo-container {
  margin-top: 50px;
  margin-bottom: 30px;
}

.todo-input {
  font-size: 16px;
  border: none;
  width: 33%;
  background-color: transparent;
  border-bottom: solid #aaaaaa 1px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-bottom: 5px;
  z-index: 5;
  color: white;
}

.todo-input::placeholder {
  color: white;
}

.todo-input:focus {
  outline: none;
}

.hidden {
  display: none;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.9;
}

.quote-container {
  font-style: italic;
}
.author {
  font-size: 0.9em;
}

.done {
  text-decoration: line-through;
}

.todo-list {
  margin-bottom: 20px;
}

.quote-container {
  position: fixed;
  font-size: 20px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 5%;
}

li {
  margin-bottom: 10px;
}

li > button {
  background: none;
  border: none;
  margin-left: 5px;
}
